html {
    margin: 0;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    
}

body {
    margin: 0%;
    top: 0%;
    right: 0%;
}

.vlog-menu .menu-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
}

.vlog-onestep {
    background: url(evofull.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    color: black

}

.vlog-profile img {
    height: 250px;
    width: 250px;
    border-radius: 50%;

}



.vlog-profile h1 {
    color: red;
}

.vlog-profile h2 {
    color: red;
}

.content-body img {
    width: 50%;
    object-fit: scale-down;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px;
    background-color: gray;
}

.content-body2 img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: gray;


}

.content-body3 img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: gray;
}

.content-body4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#About {
    padding: 2rem;
    font-size: 20px;
    
}

#content1 {
    padding: 2rem;
    font-size: 25px;
}

#content2 {
    padding: 2rem;
    font-size: 25px;
}

#content3 {
    padding: 2rem;
    font-size: 25px;
}

#content4 {
    padding: 2rem;
    font-size: 25px;
}

.content-body h3 {
    text-align: center;

}

.content-body2 h4 {
    text-align: center;

}

.content-body3 h5 {
    text-align: center;
}

.content-body4 h6 {
    font-size: 2rem;
    text-align: center;
}